version: "3"

services:
  www:
    build: .
    volumes:
      - "./:/var/www/html"
    ports:
      - 80:80
      - 443:443
    depends_on:
      - db

  db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_DATABASE: digital_garden_oop
      MYSQL_ROOT_PASSWORD: 12344321
      MYSQL_PASSWORD: 12344321
    volumes:
      - ./sql/db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - MYSQL_ROOT_PASSWORD=12344321
    depends_on:
      - db
